.checkout-aside {
    .card {
        color: $wm-text-color;
        border-radius: 3px;
        border: solid 1px #e4e4e4;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

        .card-header {
            padding: 12px 20px 14px 20px;
            background-color: #fff;
            
            h5 {
                font-weight: 300;
            }
        }

        .product-option {
            padding: 15px 20px;
            border-bottom: 1px solid #e2e2e2;
            font-size: 14px;

            .name-product {
                padding-left: 7px;

                .h8 {
                    font-weight: 600;
                    color: #4a4a4a;
                }

                span {
                    display: block;
                }
                
                .selected-product {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .product-price {
                        font-size: 17px;
                        font-weight: 600;
                        color: #4a4a4a;
                    }
                }
            }

            .quantity-product {
                display: inline-flex;
                border-radius: 3px;
                border: 1px solid #dadada;
                margin-top: 9px;
                margin-bottom: 10px;

                .minus, .plus{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #fff;
                    color: #4a4a4a;  
                    user-select: none;
                    font-size: 16px;
                    padding-left: 17px;
                    padding-right: 17px; 

                    &:hover {
                        cursor: pointer;
                    }
                }

                .quantity-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 9.5px;
                    padding-bottom: 9.5px;
                    min-width: 60px;
                    font-size: 14px;
                    color: #666;
                }
            }

            .remove {
                display: block;
                font-size: 15px;
                font-weight: 600;
                color: $brand-color;
            }
        }
        .discount-codes {
            padding: 17px 20px 20px 20px;
            font-size: 14px;

            .title {
                display: block;
                font-weight: 600;
                color: #4a4a4a;
            }

            .input-group {
                padding-top: 8px;
                button {
                    font-size: 16px;
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0; 
                }
            }
        }

        .card-footer {
            background-color: #fff;
            padding: 0 20px 28px 20px;

            table {
                margin-bottom: 0;

                td {
                    border:none;
                    padding-top: 10px;
                    padding-bottom: 0;
                }

                td:nth-child(odd) {
                    font-size: 16px;
                }

                td:nth-child(even), .total {
                    font-size: 17px;
                    text-align: right;
                    color: #4a4a4a;
                }
            }
        }
    }

    .btn-place-order {
        margin-top: 24px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
        border-radius: 27.5px;
        background-color: $brand-color;
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
}