.home-search-section {
  margin-top: 45px;
  margin-bottom: 57px;

  @include media-breakpoint-down(sm){
    .search-section {
      padding-bottom: 42px;
      position: relative;

      h2 {
        font-size: 23px;
        line-height: 1.48;
      }

      form {
        position: absolute;
        width: 100%;
        bottom: -50px;
        left: 0;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;

        .input-group {
          input {
            font-size: 13px;
            padding-left: 25px;
            padding-top: 15px;
            padding-bottom: 15px
          }

          .input-group-addon {
            i {
              font-size: 16.5px;
            }
          }

          .input-group-append {
            .btn {
              padding: 15px 24.3px 15px 19.8px;

              i {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.home-how-it-work {
  background-color: $brand-6-color;
  padding-top: 65px;


  @include media-breakpoint-down(md){
    padding-top: 0;

    .carousel-item {
      text-align: center;

      .h2-brand {
        line-height: 1.65;
        padding-bottom: 70px;
      }

      img {
        max-width: 306px;
        max-height: 312px;
      }
    }

    .carousel-indicators {
      margin-bottom: 0;
      bottom: 340px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      justify-content: center;
    }
  }

  @include media-breakpoint-down(sm){
    .carousel-item {
      h3 , h2 {font-size: 17px;}
    }
  }
}

.home-supplier-carousel {
  padding-top: 79px;
  padding-bottom: 83px;
}

.home-download-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background:linear-gradient(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0) 20%),
     linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.05));
  border-bottom: solid 1px #d9d9d9;

    @include media-breakpoint-down(sm){
      background:linear-gradient(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0) 20%);
    }


  .logo-download-section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 104px;
      height: 104px;
      border-radius: 12px;
      background-color: #ffffff;
      @include wm-logo-shadow;
  }

  .text-download-section {
      margin-top: 58px;
      margin-bottom: 70px;
  }

  .link-download a {
      display: inline-block;
      margin-right: 15px;
  }

  @include media-breakpoint-down(sm){
    padding-top: 60px;
    padding-bottom: 60px;

    .logo-download-section {
      width: 40px;
      height: 40px;

      img {
        width: 27.4px;
        height: 20.4px;
      }
    }

    .text-download-section {
      margin-top: 14px;
      margin-bottom: 26px;

      .h2-general {
        font-size: 19px;
      }
    }

    .link-download {
      img {
        width: 112px;
        height: 33px;
        margin-bottom: 9px;
      }
    }
  }
}
