.section_your_details{
    border-radius: 3px;
    border: solid 1px #e5e5e5;
    .row_your_details{
       border-bottom: solid 1px #e5e5e5; 
    }
    
    h6{
      font-family: Poppins;
      font-size: 17px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.41;
      letter-spacing: normal;
      text-align: left;
      color: #4a4a4a;
    }
}
.section_license{
    border-radius: 3px;
    border: solid 1px #e5e5e5;
    .row_license{
        border-bottom: solid 1px #e5e5e5; 
    }
    h6{
      font-family: Poppins;
      font-size: 17px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.41;
      letter-spacing: normal;
      text-align: left;
      color: #4a4a4a;
     
    }
    .picture_your_details{
        background: none;
        border: 0;
        img{
            width: 82px!important;
            height: 82px!important;
            border-radius: 4px;
            background: #d4d4d4;
            
        }
    }
    .link_img_media{
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 1px #d4d4d4;
        width: 97px;
        height: 100px;
        text-align: center;
    }
}
.section_order-details{
   border-radius: 3px;
    border: solid 1px #e5e5e5;
    .row_order-details{
        border-bottom: solid 1px #e5e5e5; 
    } 
    h6{
      font-family: Poppins;
      font-size: 17px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.41;
      letter-spacing: normal;
      text-align: left;
      color: #4a4a4a;
     
    }
    .checkmark_your_details{
      width: 52px;
      height: 52px;
      border-radius: 3px;
      
      background-color: #ffffff;
      border: solid 1px #d8d8d8;
        &:after {
      content: "";
      position: absolute;
      display: none;
      left: 19.5px;
      top: 7px;
      width: 14px;
      height: 28px;
      border: solid #0e8b47;
      border-width: 0 3px 3px 0;
      transform: rotate(43deg);
        }
    }
    input[type=checkbox]:checked ~ .checkmark_your_details {
    background-color: white;

    &:after {
      display: block;
    }
  }
    .order-type{
        .label-delivery{
            vertical-align: top;
            margin-left: 50px;
            margin-top: 14px;
            font-size: 15px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #8b8d9c;
        }
    }
    select.select_miles:not([size]):not([multiple]) {
    height: calc(3.4rem + 1px);
    }
}
.section_opening_hours{
     border-radius: 3px;
     border: solid 1px #e5e5e5;
    .row_opening_hours{
        border-bottom: solid 1px #e5e5e5; 
    }
    h6{
      font-family: Poppins;
      font-size: 17px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.41;
      letter-spacing: normal;
      text-align: left;
      color: #4a4a4a;
     
    }
       .checkmark_your_details{
      width: 52px;
      height: 52px;
      border-radius: 3px;
      
      background-color: #ffffff;
      border: solid 1px #d8d8d8;
        &:after {
      content: "";
      position: absolute;
      display: none;
      left: 19.5px;
      top: 7px;
      width: 14px;
      height: 28px;
      border: solid #0e8b47;
      border-width: 0 3px 3px 0;
      transform: rotate(43deg);
        }
    }
    input[type=checkbox]:checked ~ .checkmark_your_details {
    background-color: white;

    &:after {
      display: block;
    }
    }
    .day_week{
        .order-type{
            padding-right: 35px;
        }
        .input_monday{
            display: inline-block;
            height: 3.7rem;
            width: 60%;
        }
    }
    select.select_miles:not([size]):not([multiple]) {
    height: calc(3.4rem + 1px);
        width: 60%;
    }
}
.btn_save_update{
       border-radius: 27.5px;
       background-color: #0e8b47;
       padding: 13px;
       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    width: 200px;
    }
.span_above_section{
    font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b9b9b;
}