.shopping-cart-popover {
  @include wm-popover-container;
  min-width: 308px;
  padding: 0;

  .cart-header {
    padding: 16px 23px;
    @include card-seperator;
    .card-title {
      font-size: 23px;
      font-weight: 300;
      color: $wm-text-dark-color;
      margin-bottom: 0;
    }

    & > span {
      display: block;
    }
  }

  .cart-item {
    padding: 16px 23px;
    display: flex;
    @include card-seperator;

    .product-image-block {
      flex: 1 1 20%;
    }
    .product-info {
      padding: 0 7px;
      flex: 1 1 65%;

      .cart-product-name {
        line-height: 25px;
        display: block;
      }

      .cart-doze {
        display: block;
        @extend .wm-light-text;
        @extend .text-14;
      }

      .cart-product-kind {
        display: block;
        @extend .wm-light-text;
        @extend .text-14;
      }
    }
    .product-price {
      flex: 1 1 15%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .cart-value {
    font-weight: 600;
    margin-left: auto;
  }

  .cart-light-title {
    @extend .wm-light-text;
    @extend .text-14;
  }

  .cart-dark-title {
    @extend .text-14;
  }

  .cart-footer {
    padding: 16px 23px;

    .subtotal, .vat, .total {
      display: flex;
      align-items: center;
    }

    .subtotal {
      margin-top: 6px;
    }

    .total {
      margin-bottom: 23px;
    }

  }

  .order-from {
    @extend .wm-light-text
  }

  .btn {
    height: 55px;
  }

}