.reviews-section {
    padding-top: 43px;

    .h7 {
        padding-bottom: 15px;
    }

    .rate-star {
        display: flex;
        align-items: center;
        

        img {
            padding-right: 2px;
        }

        .rate-review {
            padding-left: 9px;
            font-size: 12px;
            font-weight: 300;
            color: $wm-text-dark-color;
        }
    }


    .comment-block {
        box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.05);
        border: solid 1px #eeeeee;
        padding: 19px 31px 33px 31px;
        color: $wm-text-dark-color;
        font-size: 14px;
        line-height: 1.29;
        margin-top: 34px;

        .comment-rate {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            .rate-star {
                display: flex;

                img {
                    padding-right: 2px;
                }
            }
        }

        p {
            font-size: 16px;
            margin-bottom: 0;
            line-height: normal;
        }

        .autor-info {
            padding-top: 17px;

            img {
                border-radius: 50%;
            }

            span {
                color: $wm-text-input-color;
                padding-left: 9px;
            }
        }
    }
}