.details-section {
  .row {
    padding-top: 33px;

    .main-content {
      padding-top: 25px;
      padding-right: 26px;

      .h7 {
        color: $wm-text-dark-color;
      }

      p {
        font-weight: 600;
        color: $wm-text-color;
        margin-bottom: 25px;
      }

      hr {
        margin-bottom: 30px;
        color: #cbcbcb;
      }
    }

    .aside {
      border-radius: 3px;
      border: solid 1px #dedede;
      padding: 24px 24px 0 29px;
      max-height: 450px;

      .h7 {
        color: $wm-text-dark-color;
        margin-bottom: 13px;
      }

      p {
        color: $wm-text-color;
        margin-bottom: 15px;
      }
      .row {
        padding-top: 22px;
      }
    }

    .details-info {
      padding-bottom: 10px;

      .name-info {
        color: $wm-text-color;
        line-height: 2.53;
      }

      .info {
        font-weight: 600;
        line-height: 2.53;
        color: $wm-text-dark-color;
      }

      span {
        display: block;
      }
    }
  }
}