 {% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}


<div class="container">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderProduct">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="orderProduct" tabindex="-1" role="dialog" aria-labelledby="orderProduct" aria-hidden="true">
  <div class="modal-dialog product-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="img/product-weed.png" alt="Product Item" title="Product Image">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/product-weed.png" alt="Product Item" title="Product Image">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="img/product-weed.png" alt="Product Item" 
              title="Product Image">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <h4 class="title-product-info">Name Of Product</h4>
        <span>Product Kind</span>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

        <div class="product-property">
          <span>THC 80%</span>
          <span>CBD 80%</span>
          <span>CBN 80%</span>
        </div>

        <strong class="name-product-option">Weight</strong>
        <div class="product-option">
          <select class="form-control">
            <option value="1" selected>1/4 Gram - $50</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>


      <div class="modal-footer">
        <div class="quantity-product">
          <a class="minus" onclick="minus()" title="Remove">-</a>
          <span class="quantity-number" id="display">12</span>
          <a class="plus" onclick="plus()" title="Add">+</a>
        </div>
        <button class="btn btn-success btn-add-basket">Add To Basket  $50.00</button>
      </div>

    </div>
  </div>
</div>
</div>


<script >

  var i = document.getElementById("display").innerHTML;

    function plus() {
        if (i < 9999) {
            i++;
        } else {
            i = 0;
        }
        document.getElementById("display").innerHTML = i;
    }

    function minus() {
        if (i > 0) {
            --i;
        } else if (i = 0) {
            i = 9999;
        }
        document.getElementById("display").innerHTML = i;
    }

</script>

{% endblock %}