{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}
<main class="search-result-section">

  <section class="filters-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 filters">
          <ul class="filters-list">
            <li class="filter-item">
              <p class="brand d-flex align-items-center">
                <img src="img/filters.svg" width="18" height="18" alt="Filters">
                <span class="ml-3 d-none d-md-block">Filters</span>
              </p>
            </li>

            <li class="filter-item">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" id="delivery" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Delivery</a>
                <ul class="dropdown-menu" aria-labelledby="delivery">
                  <li class="dropdown-item click-no-close" href="#">

                    <div class="checkbox-item">
                      <label for="showing-all"> Showing All</label>
                      <span class="checkbox-container">
                        <input id="showing-all" type="checkbox">
                        <label class="checkmark" for="showing-all"></label>
                      </span>

                    </div>

                  </li>
                </ul>
              </div>
            </li>

            <li class="filter-item">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" id="providerType" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Provider Type</a>
                <ul class="dropdown-menu" aria-labelledby="providerType">
                  <li class="dropdown-item" href="#">
                    Showing All
                  </li>
                </ul>
              </div>
            </li>

            <li class="filter-item">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" id="minimumDelivery" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Minimum Delivery</a>
                <ul class="dropdown-menu" aria-labelledby="minimumDelivery">
                  <li class="dropdown-item" href="#">
                    Showing All
                  </li>
                </ul>
              </div>
            </li>
          </ul>

          <div class="input-group input-group-search-filters d-none d-md-block">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                   aria-describedby="filter-search">
            <span class="input-group-append">
              <a href="#">
                <i class="material-icons">search</i>
              </a>

            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container items-list-wrapper">
    <div class="row">
      <div class="col-12 col-lg-8 search-results">

        <!-- Top filter section -->
        <div class="row">
          <div class="col">
            <h4 class="text-14 brand search-result-header">32 Suppliers Matching Your Search</h4>
          </div>
          <div class="col d-flex align-items-center">
            <label class="text-14-bold mb-0 mr-4 d-none d-md-block">Sort By</label>

            <select class="form-control flex-1 sort-selectbox text-14-bold" id="sort-dropdown">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>
            <!--<div class="dropdown flex-1 sort-dropdown">-->
              <!--<a href="#" class="dropdown-toggle" id="sortSearch" data-toggle="dropdown" aria-haspopup="true"-->
                 <!--aria-expanded="false">-->
                <!--Provider Type-->
              <!--</a>-->
              <!--<ul class="dropdown-menu w-100" aria-labelledby="sortSearch">-->
                <!--<li class="dropdown-item pointer" href="#"> Sort 1</li>-->
                <!--<li class="dropdown-item pointer" href="#"> Sort 2</li>-->
              <!--</ul>-->
            <!--</div>-->

          </div>
        </div>

        <!-- Cards section  -->
        <div class="card search-result-card">
          <div class="count-number">
            <span>1</span>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-8 col-sm-12 d-inline-flex">
                <div class="card-image">
                  <img src="http://via.placeholder.com/93x93" width="93" height="93" alt="Supplier logo">
                  <span class="badge card-badge">
                    <span class="check-mark"></span>
                      Featured
                  </span>
                </div>

                <div class="search-description">
                  <h4 class="card-description-title">Name Of Supplier Goes In This Space</h4>
                  <span class="rate-star">
                    <img src="img/star.svg" class="star star-active" alt="star">
                    <img src="img/star.svg" class="star star-active" alt="star">
                    <img src="img/star.svg" class="star star-active" alt="star">
                    <img src="img/star.svg" class="star star-active" alt="star">
                    <img src="img/star.svg" class="star ">
                    <a href="#" class="rate-review" title="Reviews">(19)</a>
                  </span>

                  <div class="location-section">
                    <span class="location-icon">
                      <i class="material-icons">location_on</i>
                    </span>
                    <span class="location-supplier">
                      <address>
                        Address Goes In This Space And Over 2 Lines -
                      </address>
                      <span class="text-14-bold">1.9 Miles</span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-12 card-list">
                <span class="title-list warning-list-title">Open Now</span>

                <a href="#collapseExample" class="collapse-link d-md-none d-lg-none collapsed" data-toggle="collapse"
                   aria-expanded="false" aria-controls="collapseExample">
                  <i class="material-icons down">arrow_drop_down</i>
                  <i class="material-icons up">arrow_drop_up</i>
                </a>

                <ul class="collapse collapse-show-lg" id="collapseExample" data-toggle="collapse" aria-expanded="true">
                  <li>Minimum Order: $0</li>
                  <li>Delivery: Yes</li>
                  <li>Delivery Fee: $0</li>
                  <li>Delivery Distance: 50m</li>
                </ul>

              </div>
            </div>
          </div>

          <div class="card-footer">
            <img src="img/special-offer.svg" class="special-offer">
            <span> Special Offer: </span> 10% off First Order
          </div>

        </div>
      </div>

      <!-- Map -->
      <div class="col-lg-4 map-container d-none d-md-block">
        <div class="map" id="search-map-results" >
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
