<footer>

  {% if homePageHeader %}

  <div class="container footer-top-section ">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-5 subscribe-container">
        <h4>Subscribe To Our Newsletter</h4>
      </div>

      <div class="col-12 col-md-6 col-lg-7">
        <form class="d-flex">
          <input type="email" class="form-control form-control-lg" placeholder="Emaill Address">
          <button type="button" class="btn btn-lg btn-success"><span class="d-none d-lg-block">Subscribe</span><span
            class="d-block d-lg-none">Go</span></button>
        </form>
      </div>
    </div>
  </div>

  {% endif %}


  <div class="{% if not homePageHeader %} separator {% endif %}"></div>
  <div class="footer-medium-section {% if not homePageHeader %} with-border-top {% endif %}">
    <div class="container">
      {% if homePageHeader %}
      <hr class="m-0">
      {% endif %}

      <div class="row">
        <div class="col-2 footer-logo">
          <img src="img/weedmenu-logo.svg" alt="Weedmenu Logo" width="52" height="35" title="Weedmenu Logo">
        </div>

        <div class="col-10">
          <ul class="d-md-flex justify-content-md-end">
            <li><a href="#" title="Home">Home</a></li>
            <li><a href="#" title="Browse Providers">Browse Providers</a></li>
            <li class="fake-menu-item">Fake item. Do not remove it</li>
            <li><a href="#" title="Contact">Contact</a></li>
            <li><a href="#" title="Log In">Log In</a></li>
            <li><a href="#" title="Sing Up">Sing Up</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>


  <div class="footer-bottom-section">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-lg-8 copyright-section">
          <ul class="copyright">
            <li>&copy; 2018 Weedmenu <span>|</span></li>
            <li><a href="#" title="Terms & Condition">Terms &amp; Conditions <span>|</span></a></li>
            <li><a href="#" title="Privacy Policy"> Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col-sm-12 col-lg-4">
          <ul class="social-list list-inline">
            <li class="list-inline-item">
              <a target="_blank" href="#" title="Share via Instagram">
                <img src="img/instagram-icon.svg" width="25" height="25" alt="Instagram icon"
                     title="Connect with us in Instagram">
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="#" title="Share via Twitter">
                <img src="img/twitter-icon.svg" width="25" height="25" alt="Twitter icon"
                     title="Connect with us in Twitter">
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="#" title="Share via Facebook">
                <img src="img/facebook-icon.svg" width="25" height="25" alt="Facebook icon"
                     title="Connect with us in Facebook">
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</footer>
