{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}

<section class="my-details">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-4">My Details</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex flex-row div-details">
                            <a href="#" class="link-details ">Details</a>
                            <a href="#" class="link-payment active-link-payment ml-4">Payment details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
            </div>
        </div>
    </div>
    <div class="container div-payment-details">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="mt-4"><img src="img/payment-details.svg" width="24" height="21" alt="Your credit/Debit Cards" class="mr-3">Your credit/Debit Cards</h6>
                        <div class="credit-debit-cards mb-4 mt-4">
                            <div class="row col-cards ml-0 p-3 mr-0">
                                <div class="col-md-6 col_cards pl-1">
                                    <img src="img/visa-2.jpg" width="46" height="35" alt="Your credit/Debit Cards" class="mr-3">
                                    <span>Visa ending in **71</span>
                                </div>
                                <div class="col-md-6">
                                    <span class="ml-3">Expires 09/23</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 p-4">
                                    <ul>
                                        <li class="li-active">Name On card</li>
                                        <li>Stevan Gerrard</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 p-4">
                                    <ul>
                                        <li class="li-active">Billing Address</li>
                                        <li>12 Street name</li>
                                        <li>City name</li>
                                        <li>Country</li>
                                        <li>ZIPCODE</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="click-edit-delete p-3 mt-4">
                                        <a href="#" class="p-3">EDIT</a>
                                        <a href="#" class="p-3">DELETE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6>Add New Payment Method</h6>
                        <div class="payment_method mt-4">
                            <div class="row">
                                <div class="col">
                                    <div class="credit-card-info mb-5 form">
                                        <div class="credit-card-header">
                                            <div class="radio">
                                                <input type="radio" name="radio" id="creditCard" value="creditCard" checked>
                                                <label for="creditCard"><span></span>Credit Card</label>
                                            </div>

                                            <img src="img/payment-card-icons@3x.png" alt="Credit Cards image"
                                                srcset="img/payment-card-icons.png 1x, img/payment-card-icons@2x.png 2x, img/payment-card-icons@3x.png 3x">
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label for="cardNumber">Card Number</label>
                                                <input type="text" class="form-control" id="cardNumber" placeholder="•••• •••• •••• ••••" required>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="CVVCode">CVV Code</label>
                                                <input type="text" class="form-control" id="CVVCode" placeholder="•••" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                 <label for="expiryDate">Expiry Date</label>
                                                <input type="text" class="form-control" id="expiryDate" placeholder="MM / YY" required>
                                            </div>
                                        </div>

                                        <div class="credit-card-footer">
                                            <div class="radio">
                                                <input type="radio" name="radio" id="Paypal" value="Paypal">
                                                <label for="Paypal"><span></span>Paypal</label>
                                            </div>
                                            <img src="img/paypal@3x.png" alt="Paypal image"
                                          srcset="img/paypal.png 1x, img/paypal@2x.png 2x, img/paypal@3x.png 3x">
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</section>


{% endblock %}
