{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}

<section class="my-details">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-4 ">My Details</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex flex-row div-details">
                                <a href="#" class="link-details active-link-payment">Details</a>
                                <a href="#" class="link-payment ml-4">Payment details</a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-5"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-picture p-3 mb-4 mt-4">
                            <div class="media">
                                <a href="#" class="mr-3 media-link-img"><img src="img/product-weed.png"></a>
                                <div class="media-body">
                                    <h6>Profile picture</h6>
                                    <span>Filename.png</span>
                                    <a href="">Upload file</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form form-row">
                            <div class="form-group col-md-6">
                                <label for="deliveryDate">First name*</label>
                                <input type="text" class="form-control" id="deliveryDate" placeholder="e.g John">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="deliveryTime">Second name*</label>
                                <input type="text" class="form-control" id="deliveryTime" placeholder="e.g Smith">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form form-row">
                            <div class="form-group col-md-6">
                                <label for="deliveryDate">Email address*</label>
                                <input type="text" class="form-control" id="deliveryDate" placeholder="e.g John@email.com">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="deliveryTime">Phone number*</label>
                                <input type="text" class="form-control" id="deliveryTime" placeholder="e.g 07987 55431">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form form-row">
                            <div class="form-group col-md-12">
                                <label for="deliveryDate">Address*</label>
                                <input type="text" class="form-control" id="deliveryDate" placeholder="e.g 16 Muir Drive">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form form-row">
                            <div class="form-group col-md-6">
                                <label for="deliveryDate">City*</label>
                                <input type="text" class="form-control" id="deliveryDate" placeholder="e.g Glasgow">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="deliveryTime">Country*</label>
                                <input type="text" class="form-control" id="deliveryTime" placeholder="e.g Scotland">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form form-row">
                            <div class="form-group col-md-6">
                                <label for="deliveryDate">Zip Code*</label>
                                <input type="text" class="form-control" id="deliveryDate" placeholder="e.g 90210">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-btn-details mb-5 ">
                            <button class="btn-details btn-success btn">Update details</button>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</section>


{% endblock %}