{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}

<section class="supplier-map-section">
  <h2>Map here</h2>
</section>

<section class="tabs-section-navigation">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <!-- Tabs navigation -->
        <ul class="nav nav-tabs" id="suppliersMenuTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="productMenu-tab" data-toggle="tab" href="#productMenu" role="tab" aria-controls="productMenu" aria-selected="true">Product Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="photos&videos-tab" data-toggle="tab" href="#photos&videos" role="tab" aria-controls="photos&videos" aria-selected="true">Photos & Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="specialOffers-tab" data-toggle="tab" href="#specialOffers" role="tab" aria-controls="specialOffers" aria-selected="true">Special Offers</a>
          </li>
        </ul>
      </div>

      <div class="col-2 text-right">
        <div class="dropdown dropdown-more">
          <a href="#" class="dropdown-toggle" id="minimumDelivery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
          <ul class="dropdown-menu" aria-labelledby="minimumDelivery">
            <li class="dropdown-item" href="#">
              Showing
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="tabs-section-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Tabs content -->
        <div class="tab-content" id="suppliersMenuTabContent">
          <div class="tab-pane fade show active" id="productMenu" role="tabpanel" aria-labelledby="productMenu-tab">
            <div class="row">

              <div class="col-sm-4">
                <h4 class="text-14 brand d-flex align-items-center mr-tr-39">
                  <img src="img/filters.svg" width="18" height="18" alt="Filters">
                  <span class="ml-3">Filter products</span>
                </h4>
              </div>

              <div class="col-sm-8">
                <div class="row no-gutters mr-tr-39">
                  <div class="col">
                    <p class="text-14-bold">78 Products Found</p>
                  </div>
                  <div class="col d-flex align-items-center">
                    <label class="text-14-bold mb-0 mr-4">Sort By</label>
                    <div class="dropdown flex-1 sort-dropdown">
                      <a href="#" class="dropdown-toggle" id="sortSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Most Popular
                      </a>
                      <ul class="dropdown-menu w-100" aria-labelledby="sortSearch">
                        <li class="dropdown-item pointer" href="#">Most Popular</li>
                        <li class="dropdown-item pointer" href="#">By Category</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1/8</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1/4</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1/2</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1G</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 2G</li>
                      </ul>
                    </div>
                  </div>
                </div>


              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            
            <section class="details-section" id="details">
              <div class="row">
                <div class="main-content col-md-8">
                  <h3 class="h7">About “Name Of Supplier”</h3>

                  <div class="row details-info">
                    <div class="name-info col-4">
                      <span>Address:</span>
                      <span>Phone Numer:</span>
                      <span>Email:</span>
                    </div>
                    <div class="info col-8">
                      <span>Address Goes In This Space</span>
                      <span>0123465789</span>
                      <span>example@weed.com</span>
                    </div>
                  </div>

                  <hr>

                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                </div>
                <div class="aside col-md-4">
                  <h3 class="h7">Opening Hours</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                  <div class="row details-info">
                    <div class="col-4 name-info">
                      <span>Mon</span>
                      <span>Tue</span>
                      <span>Wed</span>
                      <span>Thur</span>
                      <span>Fri</span>
                      <span>Sat</span>
                      <span>Sun</span>
                    </div>
                    <div class="col-8 info">
                      <span>9am - 10pm</span>
                      <span>9am - 10pm</span>
                      <span>9am - 10pm</span>
                      <span>9am - 10pm</span>
                      <span>9am - 10pm</span>
                      <span>9am - 10pm</span>
                      <span>9am - 10pm</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </section>

          </div>

          <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            ...
          </div>

          <div class="tab-pane fade" id="photos&videos" role="tabpanel" aria-labelledby="photos&videos-tab">...</div>
          <div class="tab-pane fade" id="specialOffers" role="tabpanel" aria-labelledby="specialOffers-tab">...</div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}