{% set stickyFooter="sticky-footer" %}
{% extends "layouts/template-logged-in.html" %}

{% block pageContent %}

<section class="supplier-map-section">
  <h2>Map here</h2>
</section>


<section class="supplier-name-section">

  <div class="container">
    <div class="card supplier-map-card">
      <div class="card-body">

        <div class="supplier-description-content">
          <div class="card-image">
            <img src="http://via.placeholder.com/104x104" alt="Supplier logo">
          </div>

          <div class="supplier-description">
            <h3 class="card-description-title">Name Of Supplier</h3>

            <span class="rate-star">
            <img src="img/star.svg" class="star" alt="Star">
            <img src="img/star.svg" class="star" alt="Star">
            <img src="img/star.svg" class="star" alt="Star">
            <img src="img/star.svg" class="star" alt="Star">
            <img src="img/star-inactive.svg" class="star" alt="Star">
            <a href="#" class="rate-review" title="Reviews">(19)</a>
          </span>

            <div class="location-section">
            <span class="location-icon">
              <i class="material-icons">location_on</i>
            </span>

              <span class="location-supplier">
              <address>Address Goes In This Space And Over 2 Lines - </address>
              <span class="text-14-bold">1.9 Miles</span>
            </span>
            </div>

          </div>
        </div>

        <div class="working-time">
          <img src="img/open-time.svg">
          <span>Open Now</span>
        </div>

        <table class="table">
          <tbody>
          <tr>
            <td class="border-top-0">Minimum Order</td>
            <td class="border-top-0">$0</td>
          </tr>
          <tr>
            <td>Delivery</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Delivery Fee</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>Delivery Distance</td>
            <td>50m</td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>

</section>

<!-- Tabs navigation -->
<section class="tabs-section-navigation">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <ul class="nav nav-tabs" id="suppliersMenuTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="productMenu-tab" data-toggle="tab" href="#productMenu" role="tab" aria-controls="productMenu" aria-selected="true">Product Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="photos&videos-tab" data-toggle="tab" href="#photos&videos" role="tab" aria-controls="photos&videos" aria-selected="true">Photos & Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="specialOffers-tab" data-toggle="tab" href="#specialOffers" role="tab" aria-controls="specialOffers" aria-selected="true">Special Offers</a>
          </li>
        </ul>
      </div>

      <div class="col-2 text-right">
        <div class="dropdown dropdown-more">
          <a href="#" class="dropdown-toggle" id="minimumDelivery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
          <ul class="dropdown-menu" aria-labelledby="minimumDelivery">
            <li class="dropdown-item" href="#">
              Showing
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Tabs content -->
<section class="tabs-section-content">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="tab-content" id="suppliersMenuTabContent">
          <div class="tab-pane fade show active" id="productMenu" role="tabpanel" aria-labelledby="productMenu-tab">
            <div class="row">

              <div class="col-lg-4 filter-section" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <!-- Filters title -->
                <h4 class="text-14 brand d-flex align-items-center">
                  <img src="img/filters.svg" width="18" height="18" alt="Filters">
                  <span class="ml-3">Filter products</span>
                </h4>

                <!-- Filters items -->

                <!-- Filter by Name -->
                <div class="filter-collapse-item">
                  <a href="#filterName" class="filter-collapse-link" data-toggle="collapse"  aria-expanded="false" aria-controls="filterName">
                    <span>Filter by name</span>
                    <img src="img/arrow-up-icon.svg" alt="Arrow up">
                  </a>

                  <div id="filterName" class="collapse show ">
                    <div class="input-group input-group-search-filters">
                      <input type="text" class="form-control" placeholder="Search Name" aria-label="Search" aria-describedby="filter-search">
                      <span class="input-group-append">
                        <a href="#">
                          <i class="material-icons">search</i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>

                <!-- Filter by Pricing -->
                <div class="filter-collapse-item">

                  <a href="#filterPricing" class="filter-collapse-link" data-toggle="collapse"  aria-expanded="false" aria-controls="filterPricing">
                    <span>Pricing</span>
                    <img src="img/arrow-up-icon.svg" alt="Arrow up">
                  </a>

                  <div id="filterPricing" class="collapse show ">
                    <ul>
                      <li>
                        <div class="checkbox-item">
                          <label for="showing-1/8"> Show 1/8</label>
                          <span class="checkbox-container">
                            <input id="showing-1/8" type="checkbox">
                            <label class="checkmark" for="showing-1/8"></label>
                          </span>
                        </div>
                      </li>

                      <li>
                        <div class="checkbox-item">
                          <label for="showing-1/4">  Show 1/4</label>
                          <span class="checkbox-container">
                            <input id="showing-1/4" type="checkbox">
                            <label class="checkmark" for="showing-1/4"></label>
                          </span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- Filter by Kind -->
                <div class="filter-collapse-item">
                  <a href="#filterKind" class="filter-collapse-link" data-toggle="collapse"  aria-expanded="false" aria-controls="filterKind">
                    <span>Filter by Kind</span>
                    <img src="img/arrow-up-icon.svg" alt="Arrow up">
                  </a>

                  <div id="filterKind" class="collapse show">
                    <ul>
                      <li>
                        <div class="checkbox-item">
                          <label for="showing-all"> Showing All</label>
                          <span class="checkbox-container">
                            <input id="showing-all" type="checkbox">
                            <label class="checkmark" for="showing-all"></label>
                          </span>
                        </div>
                      </li>

                      <li>
                        <div class="checkbox-item">
                          <label for="indica"> Indica</label>
                          <span class="checkbox-container">
                            <input id="indica" type="checkbox">
                            <label class="checkmark" for="indica"></label>
                          </span>
                        </div>
                      </li>

                    </ul>

                  </div>
                </div>
              </div>

              <div class="col-lg-8">
                <div class="row align-items-center no-gutters" style="padding: 30px 0;">
                  <div class="col">
                    <p class="text-14-bold d-none d-lg-block d-xl-block">78 Products Found</p>

                    <button class="btn btn-white btn-block  d-md-block d-lg-none" data-toggle="modal" data-target="#exampleModal">
                      <img src="img/filters.svg" width="18" height="18" alt="Filters">
                      <span class="ml-3">Filters</span>
                    </button>

                  </div>
                  <div class="col d-flex align-items-center">
                    <label class="text-14-bold mb-0 mr-4  d-none d-lg-block d-xl-block">Sort By</label>
                    <div class="dropdown flex-1 sort-dropdown">
                      <a href="#" class="dropdown-toggle" id="sortSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Most Popular
                      </a>
                      <ul class="dropdown-menu w-100" aria-labelledby="sortSearch">
                        <li class="dropdown-item pointer" href="#">Most Popular</li>
                        <li class="dropdown-item pointer" href="#">By Category</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1/8</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1/4</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1/2</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 1G</li>
                        <li class="dropdown-item pointer" href="#">Lowest price for 2G</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-12 d-sm-block d-md-block d-lg-none">
                    <div class="input-group input-group-search-filters">
                      <input type="text" class="form-control" placeholder="Search Name" aria-label="Search" aria-describedby="filter-search">
                      <span class="input-group-append">
                        <a href="#">
                          <i class="material-icons">search</i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>

                <h6 class="product-name">Indicas</h6>

                <div class="row no-gutters products-info-block">
                  <div class="col-lg-8">
                    <div class="products-info">
                      <img src="img/cannabis-consulting-img.png" class="product-image" width="95" height="95" alt="Products image">
                      <div>
                        <h4 class="h7">Name of Product</h4>
                        <p>Indica</p>
                        <p class="product-percent">THC 80% &nbsp;&nbsp;|&nbsp;&nbsp; CBD 80% &nbsp;&nbsp;|&nbsp;&nbsp; CBN 80%</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <table class="table table-product-price">
                      <tbody>
                        <tr>
                          <td class="wm-light-text">1/8</td>
                          <td>$35</td>
                          <td>
                            <a href="#" class="add-product-link">
                              <img src="img/add-circle-icon.svg">
                              <span class="brand">ADD</span>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="wm-light-text">1/4</td>
                          <td>$50</td>
                          <td>
                            <a href="#" class="add-product-link">
                              <img src="img/add-circle-icon.svg">
                              <span class="brand">ADD</span>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="wm-light-text">Each</td>
                          <td>$175</td>
                          <td>
                            <a href="#" class="add-product-link">
                              <img src="img/add-circle-icon.svg">
                              <span class="brand">ADD</span>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>


              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">...</div>
          <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">...</div>
          <div class="tab-pane fade" id="photos&videos" role="tabpanel" aria-labelledby="photos&videos-tab">...</div>
          <div class="tab-pane fade" id="specialOffers" role="tabpanel" aria-labelledby="specialOffers-tab">...</div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
