.product-info {
    max-width: 546px;
    border-radius: 3px;
    background-color: #ffffff;

    .modal-content {
        max-width: 546px;
        .modal-header {
            display: flex;
            justify-content: center;
            padding-bottom: 12px;
            padding-top: 0;

            .carousel-indicators {
                display: flex;
                justify-content: center;
                position: absolute;
                margin-bottom: 0;
                bottom: 0;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .modal-body {
            padding: 28px 32px 41px;
            color: $wm-text-color;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)88%, rgba(0, 0, 0, 0.13));

            .title-product-info {
                font-weight: 600;
                color: #4a4a4a;
                letter-spacing: normal;
            }
           
            p {
                padding-top: 16px;
                padding-bottom: 16px;
            }

            .product-property {

                span:nth-child(2) {
                padding-left: 15px;
                padding-right: 15px;
                }
            }
            

            .name-product-option {
                color: #4a4a4a;
                display: block;
                padding-top: 40px;
                padding-bottom: 22px;
            }

            .product-option {
                border-radius: 3px;
                background-color: #ffffff;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);

                select {
                    height: 55px;
                    color: $wm-text-color;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }

        .modal-footer {
            justify-content: space-between;

            .quantity-product {
                display: flex;
                text-align: center;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
                border-radius: 3px;

                .minus {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                .plus {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }

                .minus, .plus{
                    background: #fff;
                    color: $wm-text-color;
                    padding: 15.5px 23px;
                    border: 1px solid #dadada;
                    user-select: none;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .quantity-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 110px;
                    font-size: 16px;
                    color: #666;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    border-top: 1px solid #dadada;
                    border-bottom: 1px solid #dadada;
                    border-left: none;
                    border-right: none;
                }
            }
            .btn-add-basket {
                border-radius: 27.5px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
                padding: 15px 54px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .product-info {
        .modal-content {
            .modal-body {
                background-image: none;
                padding: 26px 20px 7.5px 20px;
                font-size: 14px;

                .name-product-option {
                    font-size: 15px;
                    padding-top: 32px; 
                    padding-bottom: 22px;
                }

                .title-product-info {
                    font-size: 19px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 0;
                }

                .product-property {
                    font-size: 15px;
                }

            }

            .modal-footer {
                flex-wrap: wrap;
                border-top: none;
                padding: 7.5px 20px 17px 20px;

                .quantity-product {
                    width: 100%;
                    display: flex;
                    margin-bottom: 15px;
                    margin-right: 0;

                    .quantity-number {
                        flex: 1;
                    }
                }

                .btn-add-basket {
                    margin-left: 0;
                    width: 100%;
                }
            }
        }
    }
}