.my-details{
    .div-payment-details{
        h6{
            @include font-style;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            color: $wm-text-dark-color;
        }
        .credit-debit-cards{
            border: solid 1px #e6e6e6;
            .col-cards{
                border-radius: 2px;
                background-color: #f1f1f1;
            }
            span{
                @include font-style;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.94;
                text-align: left;
                color: $wm-text-dark-color; 
            }
            ul li{
                @include font-style;
                font-size: 16px;
                line-height: 1.94;
                text-align: left;
                color: $wm-text-dark-color;
                margin-left: 15px;
            }
            .li-active{
                @include font-style;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.94;
                text-align: left;
                color: #6c6c6c;
            }
            a{
                @include font-style;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.72;
                text-align: left;
                color: #0e8b47;
            }
            .click-edit-delete{
                border-top: solid 1px #e6e6e6;
            }
        }
    }
}