.my-details{
    .container-fluid{
        border: solid 1px #e0e0e0;
    }
    h2 {
        @include font-style;
        font-size: 40px;
        font-weight: 500;
        text-align: left;
        color: $wm-text-dark-color;
    }
    .div-details{
        .link-details{
            @include font-style;
            font-size: 19px;
            font-weight: 500;
            line-height: 2.16;
            text-align: left;
            color: $wm-text-input-color;
        }   
        .link-payment{
            @include font-style;
            font-size: 19px;
            font-weight: 500;
            line-height: 2.16;
            text-align: left;
            color: $wm-text-input-color;
        }
        .active-link-payment{
            color: $brand-color!important;
            border-bottom:2px solid $brand-color;
        }
    }
    .profile-picture{
        border-radius: 3px;
        background-color: #f3f3f3;
        border: solid 1px #e5e5e5;
        .media {
            &-link-img{
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 1px #d8d8d8;
                padding: 5px;
            }
            img {
                width: 76px;
                height: 70px;
                border-radius: 3px;
            }
            .media-body{
                h6 {
                    @include font-style;
                    font-size: 15px;
                    font-weight: 500;
                    text-align: left;
                    color: $wm-text-dark-color;
                }
                span{
                    @include font-style;
                    font-size: 15px;
                    font-weight: normal;
                    text-align: left;
                    color: $wm-text-dark-color;
                }
                a {
                    @include font-style;
                    font-size: 15px;
                    font-weight: 600;
                    text-align: left;
                    color: $brand-color!important;
                    display: block;
                }
            }
        }
    }
    
    .div-btn-details{
       .btn-details{
           @include font-style;
           font-size: 16px;
           font-weight: 600;
           text-align: center;
           color: #ffffff;
           border-radius: 27.5px;
           background-color: $brand-color;
           box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
           padding: 12px;
           width: 240px;
        } 
    } 
}